link(rel='stylesheet', href='/css/intro.css')
link(href='/vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
.head
    img.imge(src='/img/200_logo.png')
    .right
        .text-head strangerfunny.com
        .text-head Chat with strangers
    .container
        .row
            .col.cl1
                div Download for Android
                div
                    a(href='') Google Play
            .col.cl2
                div Connect with us on facebook confession
                div
                    img(src='', alt='')
                    a(href='') link facebook
            .w-100
            .col.cl3
                div Download for IOS
                div
                    a(href='') Apple Store
            .col.cl4
                div Find stranger with commuity
                div
                    img(src='', alt='')
                    a(href='') Link groups
    footer.page-footer.font-small.blue
        .footer-copyright.text-center.py-3
            strong.text Keydateam @ coppy right 2020
            p
                strong.text  product.strangerfunny@gmail.com         