extends ../template
block content
    .form(style="text-align: center;")
        h3 Search User by ID or Username
        form(action="/admin/user" method="POST")(style ="width : 500px; display: inline-block;")
            .form-group
                input.form-control(type='text', placeholder='Search',name="id" aria-label='Search' required)
                if mess
                    p=mess
                button.btn.btn-primary.mt-5.mr-5(type='submit') Find
        
