extends ../template
block content
    
    .form(style="text-align: center;")
        h2 Edit
        form(action="/admin/link/update/" +link._id method="POST")(style ="width : 500px; display: inline-block;")
            .form-group
                label(for='exampleFormControlInput1') Name
                input#exampleFormControlInput1.form-control(type='text' name="name" placeholder='Nhập tên link' required value=link.name)
                if mess
                p=mess
            .form-group
                label(for='exampleFormControlInput1') Link
                input#exampleFormControlInput1.form-control(type='text' name="link" placeholder='Nhập link' required value=link.link)
                span(id='mess')
            .form-group
                label(for='exampleFormControlTextarea1') Description
                textarea#exampleFormControlTextarea1.form-control(rows='3' name="description")=link.description
            //- p Select a date: 
            //-     input(type='date' name='date')
            button.btn.btn-primary.mt-5.mr-5(type='submit') Save
            button.btn.btn-primary.mt-5.ml-5.mr-5(type='reset') Reset
            a.btn.btn-danger.ml-5.mt-5(href='/admin/link') Cancel