<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Admin - Document Banhbaoapp.com Chat cùng người lạ</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script>
        // MDB Lightbox Init
        $(function() {
            $("#mdb-lightbox-ui").load("mdb-addons/mdb-lightbox-ui.html");
        });
    </script>
    </body>
</head>

<body>
    <div class="container">
        <div class="raw col-md-12 border alert alert-primary">
            <h3 class="bd-title">Dự án: Chat cùng người lạ</h3>
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        Verion: 1.0.0 </br>
                        Tên miền: banhbaoapp.com <br/> Công nghệ/ Nền tảng: Nodejs + React native + Mongodb <br/> Server: Ubuntu 19.10
                    </li>
                    <li class="list-group-item">
                        Bắt đầu: 1 tháng 8 năm 2020 <br/> Kết thúc: 1 tháng 10 năm 2020
                    </li>
                </ul>
            </div>

        </div>
        <div>
            <h4>Chức năng đích</h4>
            <div>
                <div class="raw">

                </div>
            </div>
        </div>

        <hr>
        <div>
            <h4>Giao diện (mockup)</h4>
        </div>
        <!--
		  <div class="row">
			<div class="col-md-12">

			  <div id="mdb-lightbox-ui"></div>

			  <div class="row">

				<figure class="col-md-4">
					<a href="/img/13login.jpg" data-size="1600x1067">
					<img alt="picture" src="/img/13login.jpg" class="img-fluid border">
					</a>
				</figure>

				<figure class="col-md-4">
					<a href="/img/14reg.jpg" data-size="1600x1067">
					<img alt="picture" src="/img/14reg.jpg" class="img-fluid border" />
					</a>
				</figure>
			  </div>


			</div>
		  </div>
		  -->
        <hr>
        <div>
            <h4>Chức năng</h4>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="list-group">
                    <li class="list-group-item">1. Đăng Nhập Admin account</li>
                    <li class="list-group-item">2. CRUD User account</li>
                    <li class="list-group-item">3. Xem : </br>
                        + 3.1 Online count </br>
                        + 3.2 Cuộc trò chuyện </br>
                        + 3.3 Xem/xử lý user hội thoại có báo cáo xấu</br>
                    </li>
                    <li class="list-group-item">4. CRUD link confession </li>
                    <li class="list-group-item">5. CRUD/responses feeback bug</li>
                    <li class="list-group-item">6. CRUD help</li>
                    <li class="list-group-item">7. Chat handle: </br>
                        <li class="list-group-item">+ 7.1 Xử lý từ cấm trong tin nhắn - đọc từ file xref.txt </br>
                            <li class="list-group-item">+ 7.2 Xử lý report tự động:1user dùng từ nhạy cảm 3 lần trên cuộc hội thoại bị cảnh cáo lần 1 - lần 5 cảnh cáo lần 2 - lần 7 cấm sử dụng chức năng chat 1 giờ - sau 1 giờ reset=0/bộ đếm reported+1</br>
                                <li class="list-group-item">+ 7.3 Bị người lạ report - gửi thông báo trên cuộc hội thoại cho user, count reported +1 </li>
                </ul>
            </div>
        </div>
        <hr>
        <div>
            <h4>Use Case</h4>
        </div>
        <div class="row">
            <div class="col-md-12">
                <img src="/docs/admin.png" />
            </div>
        </div>
        <hr>
        <div>
            <h4>API</h4>
        </div>
        <!--Create link-->
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">
                        <div class="alert alert-success" role="alert">#Create Link</div>
                    </th>
                    <td>Post</td>
                    <td><code>/api/link</pre></td>
		</tr>
		</thead>
		<tbody>
		<tr>
			<th scope="row">Header</th>
			<td>application/json; charset=utf-8</td>
			<td><code>"auth-token": "AAA.BBB.CCC"</code></td>
                </tr>
                <tr>
                    <th scope="row">Body</th>
                    <td>required</td>
                    <td>
                        <code>
							{<br/>
								"name": "confession",<br/>
								"description": "Vao day se dan den confession"<br/>
								"link": "abc.xyz"<br/>
							}
							</code>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Result</th>
                    <td>Successfully</td>
                    <td><code>{ <br/>
				"status": 200,<br/>
                "link": {<br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;"_id": "5efc8e8ea0358c106cd8c38d",<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;"name": "confession",<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;"description": "Vao day se dan den confession",<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;"link": "abc.xyz",<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;"__v": 0}<br/>
			}</code>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Result</th>
                    <td>Failed</td>
                    <td><code>{ <br/>
				&nbsp;&nbsp;&nbsp;&nbsp;"status" : 400,<br/>
				&nbsp;&nbsp;&nbsp;&nbsp;"msg" : "Link already exists" <br/>
			}
			</code></td>
                </tr>
                </tbody>
        </table>
        <!-- get link -->
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">
                        <div class="alert alert-success" role="alert">#Get Link</div>
                    </th>
                    <td>Get</td>
                    <td><code>/api/link/:name</pre></td>
		</tr>
		</thead>
		<tbody>
		<tr>
			<th scope="row">Header</th>
			<td>application/json; charset=utf-8</td>
			<!-- <td><code>"auth-token": "AAA.BBB.CCC"</code></td> -->
                </tr>
                <tr>
                    <th scope="row">Body</th>
                    <td>none</td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Result</th>
                    <td>Successfully</td>
                    <td><code>{ <br/>
				"status": 200,<br/>
				"help": {<br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;"_id": "5efc8e8ea0358c106cd8c38d",<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;"name": "confession",<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;"description": "Vao day se dan den confession",<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;"link": "abc.xyz",<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;"__v": 0}<br/>
			}</code>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Result</th>
                    <td>Failed</td>
                    <td><code>{ <br/>
				&nbsp;&nbsp;&nbsp;&nbsp;"status" : 404,<br/>
				&nbsp;&nbsp;&nbsp;&nbsp;"msg" : "Not Found" <br/>
			}
			</code></td>
                </tr>
                </tbody>
        </table>
        <!--Update link-->
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">
                        <div class="alert alert-success" role="alert">#Update Link</div>
                    </th>
                    <td>post</td>
                    <td><code>/api/link/:name</pre></td>
		</tr>
		</thead>
		<tbody>
		<tr>
			<th scope="row">Header</th>
			<td>application/json; charset=utf-8</td>
			<td><code>"auth-token": "AAA.BBB.CCC"</code></td>
                </tr>
                <tr>
                    <th scope="row">Body</th>
                    <td>required</td>
                    <td>
                        <code>
							{<br/>
								"name": "group",<br/>
								"description": "Vao day se dan den group"<br/>
								"link": "abc.xyz"<br/>
							}
							</code>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Result</th>
                    <td>Successfully</td>
                    <td><code>{ <br/>
				"status": 200,<br/>
                "link": {<br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;"_id": "5efc8e8ea0358c106cd8c38d",<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;"name": "group",<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;"description": "Vao day se dan den group",<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;"link": "abc.xyz",<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;"__v": 0}<br/>
			}</code>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Result</th>
                    <td>Failed</td>
                    <td><code>{ <br/>
				&nbsp;&nbsp;&nbsp;&nbsp;"status" : 400,<br/>
				&nbsp;&nbsp;&nbsp;&nbsp;"msg" : "Update failed" <br/>
			}
			</code></td>
                </tr>
                </tbody>
        </table>
        <!--Get all help-->
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">
                        <div class="alert alert-success" role="alert">#Get all helps</div>
                    </th>
                    <td>Get</td>
                    <td><code>/api/help/getAll</pre></td>
		</tr>
		</thead>
		<tbody>
		<tr>
			<th scope="row">Header</th>
			<td>application/json; charset=utf-8</td>
			<!-- <td><code>"auth-token": "AAA.BBB.CCC"</code></td> -->
                </tr>
                <tr>
                    <th scope="row">Body</th>
                    <td>none</td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Result</th>
                    <td>Successfully</td>
                    <td><code>[ <br/>
				{<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;"_id": "5efc8e8ea0358c106cd8c38d",<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;"title": "đổi pass",<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;"description": "vào và đổi thôi",<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;"link": "https://banhbaoapp.com/help/doimatkau",<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;"__v": 0 }<br/>
				},<br/>
				
					{<br/>
							&nbsp;&nbsp;&nbsp;&nbsp;"_id": "5efc8e8ea0358c106cd8c38d",<br/>
							&nbsp;&nbsp;&nbsp;&nbsp;"title": "quên pass",<br/>
							&nbsp;&nbsp;&nbsp;&nbsp;"description": "vào lấy lại pass",<br/>
							&nbsp;&nbsp;&nbsp;&nbsp;"link": "https://banhbaoapp.com/help/quenmatkhau",<br/>
							&nbsp;&nbsp;&nbsp;&nbsp;"__v": 0<br/>

			}<br/>] </code>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Result</th>
                    <td>Failed</td>
                    <td><code>{ <br/>
				&nbsp;&nbsp;&nbsp;&nbsp;"status" : 400,<br/>
				&nbsp;&nbsp;&nbsp;&nbsp;"msg" : "Get all helps failed" <br/>
			}
			</code></td>
                </tr>
                </tbody>
        </table>
        <!--Get a help-->
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">
                        <div class="alert alert-success" role="alert">#Get Help</div>
                    </th>
                    <td>Get</td>
                    <td><code>/api/help/:_id</pre></td>
		</tr>
		</thead>
		<tbody>
		<tr>
			<th scope="row">Header</th>
			<td>application/json; charset=utf-8</td>
			<!-- <td><code>"auth-token": "AAA.BBB.CCC"</code></td> -->
                </tr>
                <tr>
                    <th scope="row">Body</th>
                    <td>none</td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Result</th>
                    <td>Successfully</td>
                    <td><code>{ <br/>
				"status": 200,<br/>
				"help": {<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;"_id": "5efc8e8ea0358c106cd8c38d",<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;"title": "đổi pass",<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;"description": "vào và đổi thôi",<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;"link": "https://banhbaoapp.com/help/doimatkau",<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;"__v": 0<br/>
			}</code>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Result</th>
                    <td>Failed</td>
                    <td><code>{ <br/>
				&nbsp;&nbsp;&nbsp;&nbsp;"status" : 404,<br/>
				&nbsp;&nbsp;&nbsp;&nbsp;"msg" : "Not Found" <br/>
			}
			</code></td>
                </tr>
                </tbody>
        </table>

        <!--Thêm help-->
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">
                        <div class="alert alert-success" role="alert">#Add help</div>
                    </th>
                    <td>Post</td>
                    <td><code>/api/help</pre></td>
		</tr>
		</thead>
		<tbody>
		<tr>
			<th scope="row">Header</th>
			<td>application/json; charset=utf-8</td>
			<td><code>"auth-token": "AAA.BBB.CCC"</code></td>
                </tr>
                <tr>
                    <th scope="row">Body</th>
                    <td>required</td>
                    <td>
                        <code>
							{<br/>
								"title": "lam sao de tim ban",<br/>
								"description": "an vao tim kiem thoi"<br/>
								"link": "abc.xyz"<br/>
							}
							</code>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Result</th>
                    <td>Successfully</td>
                    <td><code>{ <br/>
				"status": 200,<br/>
				"help": {<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;"_id": "5efc8e8ea0358c106cd8c38d",<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;"title": "lam sao de tim ban",<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;"description": "an vao tim kiem thoi",<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;"link": "abc.xyz",<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;"__v": 0<br/>
			}</code>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Result</th>
                    <td>Failed</td>
                    <td><code>{ <br/>
				&nbsp;&nbsp;&nbsp;&nbsp;"status" : 400,<br/>
				&nbsp;&nbsp;&nbsp;&nbsp;"msg" : "Create help failed!" <br/>
			}
			</code></td>
                </tr>
                </tbody>
        </table>
        <!--Sửa help-->
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">
                        <div class="alert alert-success" role="alert">#Update help</div>
                    </th>
                    <td>Put</td>
                    <td><code>/api/help/:_id</pre></td>
		</tr>
		</thead>
		<tbody>
		<tr>
			<th scope="row">Header</th>
			<td>application/json; charset=utf-8</td>
			<td><code>"auth-token": "AAA.BBB.CCC"</code></td>
                </tr>
                <tr>
                    <th scope="row">Body</th>
                    <td>required</td>
                    <td>
                        <code>
							{<br/>
								"title": "lam sao de tim ban",<br/>
								"description": "an vao tim kiem thoi"<br/>
								"link": "abc.xyz"<br/>
							}
							</code>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Result</th>
                    <td>Successfully</td>
                    <td><code>{ <br/>
				"status": 200,<br/>
					}</code>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Result</th>
                    <td>Failed</td>
                    <td><code>{ <br/>
				&nbsp;&nbsp;&nbsp;&nbsp;"status" : 404,<br/>
				&nbsp;&nbsp;&nbsp;&nbsp;"msg" : "Not Found" <br/>
			}
			</code></td>
                </tr>
                </tbody>
        </table>

        <!--Xoá help-->
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">
                        <div class="alert alert-success" role="alert">#Delete help</div>
                    </th>
                    <td>Put</td>
                    <td><code>/api/help/:_id</pre></td>
		</tr>
		</thead>
		<tbody>
		<tr>
			<th scope="row">Header</th>
			<td>application/json; charset=utf-8</td>
			<td><code>"auth-token": "AAA.BBB.CCC"</code></td>
                </tr>
                <tr>
                    <th scope="row">Body</th>
                    <td>None</td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Result</th>
                    <td>Successfully</td>
                    <td><code>{ <br/>
				"status": 200,<br/>
					}</code>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Result</th>
                    <td>Failed</td>
                    <td><code>{ <br/>
				&nbsp;&nbsp;&nbsp;&nbsp;"status" : 404,<br/>
				&nbsp;&nbsp;&nbsp;&nbsp;"msg" : "Not Found" <br/>
			}
			</code></td>
                </tr>
                </tbody>
        </table>

    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>