<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document Banhbaoapp.com Chat cùng người lạ</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script>
        // MDB Lightbox Init
        $(function() {
            $("#mdb-lightbox-ui").load("mdb-addons/mdb-lightbox-ui.html");
        });
    </script>
    </body>
</head>

<body>
    <div class="container">
        <div class="raw col-md-12 border alert alert-primary">
            <h3 class="bd-title">Dự án: Chat cùng người lạ</h3>
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        Verion: 1.0.0 </br>
                        Tên miền: banhbaoapp.com <br /> Công nghệ/ Nền tảng: Nodejs + React native + Mongodb <br /> Server: Ubuntu 19.10
                    </li>
                    <li class="list-group-item">
                        Bắt đầu: 1 tháng 8 năm 2020 <br /> Kết thúc: 1 tháng 10 năm 2020
                    </li>
                </ul>
            </div>

        </div>
        <div>
            <h4>1.Chức năng đích</h4>
            <div>
                <div class="raw">

                    Tìm kiếm và chat với người lạ
                </div>
            </div>
        </div>

        <hr>
        <div>
            <h4>2.Giao diện (mockup)</h4>
        </div>
        <div class="row">
            <div class="col-md-12">

                <div id="mdb-lightbox-ui"></div>


                <div class="row">

                    <figure class="col-md-4">
                        <a href="/img/13login.jpg" data-size="1600x1067">
                            <img alt="picture" src="/img/13login.jpg" class="img-fluid border">
                        </a>
                    </figure>

                    <figure class="col-md-4">
                        <a href="/img/14reg.jpg" data-size="1600x1067">
                            <img alt="picture" src="/img/14reg.jpg" class="img-fluid border" />
                        </a>
                    </figure>
                </div>

                <div class="row">

                    <figure class="col-md-4">
                        <a href="/img/1_1.jpg" data-size="1600x1067">
                            <img alt="picture" src="/img/1_1.jpg" class="img-fluid border">
                        </a>
                    </figure>

                    <figure class="col-md-4">
                        <a href="/img/2.jpg" data-size="1600x1067">
                            <img alt="picture" src="/img/2.jpg" class="img-fluid border" />
                        </a>
                    </figure>

                    <figure class="col-md-4">
                        <a href="/img/3.jpg" data-size="1600x1067">
                            <img alt="picture" src="/img/3.jpg" class="img-fluid border" />
                        </a>
                    </figure>
                </div>

                <div class="row">

                    <figure class="col-md-4">
                        <a href="/img/4.jpg" data-size="1600x1067">
                            <img alt="picture" src="/img/4.jpg" class="img-fluid border">
                        </a>
                    </figure>

                    <figure class="col-md-4">
                        <a href="/img/5.jpg" data-size="1600x1067">
                            <img alt="picture" src="/img/5.jpg" class="img-fluid border" />
                        </a>
                    </figure>

                    <figure class="col-md-4">
                        <a href="/img/6.jpg" data-size="1600x1067">
                            <img alt="picture" src="/img/6.jpg" class="img-fluid border" />
                        </a>
                    </figure>
                </div>
                <div class="row">

                    <figure class="col-md-4">
                        <a href="/img/7.jpg" data-size="1600x1067">
                            <img alt="picture" src="/img/7.jpg" class="img-fluid border">
                        </a>
                    </figure>

                    <figure class="col-md-4">
                        <a href="/img/8.jpg" data-size="1600x1067">
                            <img alt="picture" src="/img/8.jpg" class="img-fluid border" />
                        </a>
                    </figure>

                    <figure class="col-md-4">
                        <a href="/img/9.jpg" data-size="1600x1067">
                            <img alt="picture" src="/img/9.jpg" class="img-fluid border" />
                        </a>
                    </figure>
                </div>
                <div class="row">

                    <figure class="col-md-4">
                        <a href="/img/10.jpg" data-size="1600x1067">
                            <img alt="picture" src="/img/10.jpg" class="img-fluid border">
                        </a>
                    </figure>

                    <figure class="col-md-4">
                        <a href="/img/11.jpg" data-size="1600x1067">
                            <img alt="picture" src="/img/11.jpg" class="img-fluid border" />
                        </a>
                    </figure>

                    <figure class="col-md-4">
                        <a href="/img/12.jpg" data-size="1600x1067">
                            <img alt="picture" src="/img/12.jpg" class="img-fluid border" />
                        </a>
                    </figure>
                </div>

            </div>
        </div>
        <div>
            <h4>3.Giao diện (design)</h4>
        </div>
        <div class="row">
            <div class="col-md-12">

                <div id="mdb-lightbox-ui"></div>


                <div class="row">

                    <figure class="col-md-4">
                        <a href="/photo/1_login.jpg" data-size="1600x1067">
                            <img alt="picture" src="/photo/1_login.jpg" class="img-fluid border">
                        </a>
                    </figure>

                    <figure class="col-md-4">
                        <a href="/photo/2_signup.jpg" data-size="1600x1067">
                            <img alt="picture" src="/photo/2_signup.jpg" class="img-fluid border" />
                        </a>
                    </figure>
                    <figure class="col-md-4">
                        <a href="/photo/10_edit_information.jpg" data-size="1600x1067">
                            <img alt="picture" src="/photo/10_edit_information.jpg" class="img-fluid border">
                        </a>
                    </figure>
                </div>

                <div class="row">

                    <figure class="col-md-4">
                        <a href="/photo/3_resetpass.jpg" data-size="1600x1067">
                            <img alt="picture" src="/photo/3_resetpass.jpg" class="img-fluid border">
                        </a>
                    </figure>

                    <figure class="col-md-4">
                        <a href="/photo/4_chagnepass.jpg" data-size="1600x1067">
                            <img alt="picture" src="/photo/4_chagnepass.jpg" class="img-fluid border" />
                        </a>
                    </figure>

                    <figure class="col-md-4">
                        <a href="/photo/5_confirmnewpassword.jpg" data-size="1600x1067">
                            <img alt="picture" src="/photo/5_confirmnewpassword.jpg" class="img-fluid border" />
                        </a>
                    </figure>
                </div>

                <div class="row">

                    <figure class="col-md-4">
                        <a href="/photo/6_splash.jpg" data-size="1600x1067">
                            <img alt="picture" src="/photo/6_splash.jpg" class="img-fluid border">
                        </a>
                    </figure>

                    <figure class="col-md-4">
                        <a href="/photo/7_started.jpg" data-size="1600x1067">
                            <img alt="picture" src="/photo/7_started.jpg" class="img-fluid border" />
                        </a>
                    </figure>

                    <figure class="col-md-4">
                        <a href="/photo/8_awaiting.jpg" data-size="1600x1067">
                            <img alt="picture" src="/photo/8_awaiting.jpg" class="img-fluid border" />
                        </a>
                    </figure>
                </div>
                <div class="row">

                    <figure class="col-md-4">
                        <a href="/photo/9_menuleft.jpg" data-size="1600x1067">
                            <img alt="picture" src="/photo/9_menuleft.jpg" class="img-fluid border">
                        </a>
                    </figure>

                </div>
            </div>
        </div>

        <hr>
        <!-- added -->
        <div class="row">
            <div class="col-md-12">

                <div id="mdb-lightbox-ui"></div>


                <div class="row">

                    <figure class="col-md-4">
                        <a href="/photo2/1_starting.jpg" data-size="1600x1067">
                            <img alt="picture" src="/photo2/1_starting.jpg" class="img-fluid border">
                        </a>
                    </figure>

                    <figure class="col-md-4">
                        <a href="/photo2/2_awaiting.jpg" data-size="1600x1067">
                            <img alt="picture" src="/photo2/2_awaiting.jpg" class="img-fluid border" />
                        </a>
                    </figure>
                    <figure class="col-md-4">
                        <a href="/photo2/3_firststart.jpg" data-size="1600x1067">
                            <img alt="picture" src="/photo2/3_firststart.jpg" class="img-fluid border">
                        </a>
                    </figure>
                </div>

                <div class="row">

                    <figure class="col-md-4">
                        <a href="/photo2/4_firstline.jpg" data-size="1600x1067">
                            <img alt="picture" src="/photo2/4_firstline.jpg" class="img-fluid border">
                        </a>
                    </figure>

                    <figure class="col-md-4">
                        <a href="/photo2/5_take-heart.jpg" data-size="1600x1067">
                            <img alt="picture" src="/photo2/5_take-heart.jpg" class="img-fluid border" />
                        </a>
                    </figure>

                    <figure class="col-md-4">
                        <a href="/photo2/6_take-report.jpg" data-size="1600x1067">
                            <img alt="picture" src="/photo2/6_take-report.jpg" class="img-fluid border" />
                        </a>
                    </figure>
                </div>

                <div class="row">

                    <figure class="col-md-4">
                        <a href="/photo2/7_take-report-text.jpg" data-size="1600x1067">
                            <img alt="picture" src="/photo2/7_take-report-text.jpg" class="img-fluid border">
                        </a>
                    </figure>

                    <figure class="col-md-4">
                        <a href="/photo2/8_end.jpg" data-size="1600x1067">
                            <img alt="picture" src="/photo2/8_end.jpg" class="img-fluid border" />
                        </a>
                    </figure>

                    <figure class="col-md-4">
                        <a href="/photo2/9_re-new.jpg" data-size="1600x1067">
                            <img alt="picture" src="/photo2/9_re-new.jpg" class="img-fluid border" />
                        </a>
                    </figure>
                </div>
                <div class="row">

                    <figure class="col-md-4">
                        <a href="/photo2/10_warning-first.jpg" data-size="1600x1067">
                            <img alt="picture" src="/photo2/10_warning-first.jpg" class="img-fluid border">
                        </a>
                    </figure>

                    <figure class="col-md-4">
                        <a href="/photo2/11_warning-ban1hour.jpg" data-size="1600x1067">
                            <img alt="picture" src="/photo2/11_warning-ban1hour.jpg" class="img-fluid border">
                        </a>
                    </figure>

                </div>
				<div class="row">
					<figure class="col-md-4">
                        <a href="/photo2/13_login_fb.jpg" data-size="1600x1067">
                            <img alt="picture" src="/photo2/13_login_fb.jpg" class="img-fluid border">
                        </a>
                    </figure>
                    <figure class="col-md-4">
                        <a href="/photo2/12_update_new_information.jpg" data-size="1600x1067">
                            <img alt="picture" src="/photo2/12_update_new_information.jpg" class="img-fluid border">
                        </a>
                    </figure>


                </div>
            </div>
        </div>
        <hr>
        <div>
            <h4>4.Resource</h4>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="list-group">
                    <li class="list-group-item">1. Font family : <a href="/docs/font_pro.zip"> download ZIP </a></li>
                    <li class="list-group-item">2. icon Font Awesome : <a href="/docs/svg.zip"> download ZIP </a></li>
                    <li class="list-group-item">3. Color code : </br><span style="color:#4f62c0">Backgroud:</span> #4f62c0 </br>
                        <span style="color: #2b76d2">register:</span>#2b76d2</br>
                        <span style="color: #334392">login:welcome :</span> #334392</br>
                        <span style="color: #ececec;background-color:gray">line : </span>#ececec </br>
                        <span style="color: #ff7d7d">warning dialog : </span>#ff7d7d </li>
                    <li class="list-group-item">4.1 logo : <a href="/docs/logo-full.zip"> download ZIP </a> / <a href="/docs/logo-banhbaoapp.svg"> View </a> </li>
                    <li class="list-group-item">4.2 logo v2 > style 1 : <a href="/docs/logo_v2_style1.zip"> download ZIP
						</a> <img src="/docs/64_style1_bg.png" class="rounded float-right" alt="..."></li>
                    <li class="list-group-item">4.3 logo v2 > style 2 : <a href="/docs/logo_v2_style2.zip"> download ZIP
						</a> <img src="/docs/64_style2.png" class="rounded float-right" alt="..."></li>
                    <li class="list-group-item">4.4 logo v3: <a href="/docs/logov3.zip"> download ZIP </a> <img src="/img/64_logo.png" class="rounded float-right" alt="..."></li>
                </ul>
            </div>
        </div>
        <div>
            <h4>5.Chức năng</h4>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="list-group">
                    <li class="list-group-item">1. Đăng Nhập </li>
                    <li class="list-group-item">2. Đăng Ký/Đăng ký bằng tài khoản facebook,google</li>
                    <li class="list-group-item">3. Cập nhật thông tin</li>
                    <li class="list-group-item">4. Xem thông tin, lượt thích, lượt report</li>
                    <li class="list-group-item">5. Báo cáo lỗi hệ thống</li>
                    <li class="list-group-item">6. Trợ giúp</li>
                    <li class="list-group-item">7. Link tham gia groups facebook</li>
                    <li class="list-group-item font-weight-bold">8. Bắt đầu tìm kiếm phòng chat</li>
                    <li class="list-group-item font-weight-bold">9. Kết thúc chat</li>
                    <li class="list-group-item">10. Thích người chat</li>
                    <li class="list-group-item">11. Report người chat</li>
                    <li class="list-group-item">12. Cấm sử dụng trong 1 giờ</li>
                </ul>
            </div>
        </div>

        <hr>
        <div>
            <h4>6.Use Case</h4>
        </div>
        <div class="row">
            <div class="col-md-12">
                <img src="/docs/diagram.JPG" />
            </div>
        </div>
        <hr>
        <div>
            <h4>7.Chat Workfollow</h4>
        </div>
        <div class="row">
            <div class="col-md-12">
                <img src="/docs/find-partnerWorkfollow.JPG" />
            </div>
        </div>
        <hr>
        <div>
            <h4>8.API</h4>
        </div>
        <div class="row">
            <!--Register-->
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">
                            <div class="alert alert-success" role="alert">#Đăng ký</div>
                        </th>
                        <td>Post</td>
                        <td><code>/api/user</pre></td>
				  </tr>
				</thead>
				<tbody>
				  <tr>
					<th scope="row">Header</th>
					<td>application/json; charset=utf-8</td>
					<td>{}</td>
				  </tr>
				  <tr>
					<th scope="row">Body</th>
					<td>required</td>
					<td>
						<code>
						{<br/>
							"username": "abc",<br/>
							"firstname":"abc",<br/>
							"lastname":"efg",<br/>
							"password": "123123",<br/>
							"email":"abc2@cc.co",<br/>
							"dob":"01/15/2000"<br/>
						}
						</code>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Result</th>
                        <td>Successfully</td>
                        <td><code>{ <br/>
						"status": 200,<br/>
						"user": {<br/> 
								&nbsp;&nbsp;&nbsp;&nbsp;"token": "AAA.BBB.CCC",<br/>
								&nbsp;&nbsp;&nbsp;&nbsp;"_id": "5efc8e8ea0358c106cd8c38d",<br/>
								&nbsp;&nbsp;&nbsp;&nbsp;"username": "abc"<br/>
						
						&nbsp;&nbsp;&nbsp;&nbsp;} <br/>
					}</code></td>
                    </tr>
                    <tr>
                        <th scope="row">Result</th>
                        <td>Failed</td>
                        <td><code>{ <br/>
						"status" : 400,<br/>
						"msg" : "Please enter both username and password!" <br/>
					}
					</code></td>
                    </tr>
                    </tbody>
            </table>

            <!--Login-->
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">
                            <div class="alert alert-success" role="alert">#Đăng nhập</div>
                        </th>
                        <td>Post</td>
                        <td><code>/api/auth</pre></td>
			</tr>
			</thead>
			<tbody>
			<tr>
				<th scope="row">Header</th>
				<td>application/json; charset=utf-8</td>
				<td>{}</td>
			</tr>
			<tr>
				<th scope="row">Body</th>
				<td>required</td>
				<td>
					<code>
					{<br/>
						"username": "abc",<br/>
						"password": "123123"<br/>
					}
					</code>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Result</th>
                        <td>Successfully</td>
                        <td><code>{ <br/>
					"status": 200,<br/>
					"user": {<br/> 
							&nbsp;&nbsp;&nbsp;&nbsp;"token": "AAA.BBB.CCC",<br/>
							&nbsp;&nbsp;&nbsp;&nbsp;"_id": "5efc8e8ea0358c106cd8c38d",<br/>
							&nbsp;&nbsp;&nbsp;&nbsp;"username": "abc"<br/>
					
					&nbsp;&nbsp;&nbsp;&nbsp;} <br/>
				}</code></td>
                    </tr>
                    <tr>
                        <th scope="row">Result</th>
                        <td>Failed</td>
                        <td><code>{ <br/>
					"status" : 401,<br/>
					"msg" : "User does not exists" <br/>
				}
				</code></td>
                    </tr>
                    </tbody>
            </table>


            <!--Get user-->
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">
                            <div class="alert alert-success" role="alert">#Thông tin</div>
                        </th>
                        <td>Get</td>
                        <td><code>/api/user</pre></td>
			</tr>
			</thead>
			<tbody>
			<tr>
				<th scope="row">Header</th>
				<td>application/json; charset=utf-8</td>
				<td><code>"auth-token": "AAA.BBB.CCC"</code></td>
                    </tr>
                    <tr>
                        <th scope="row">Body</th>
                        <td>none</td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Result</th>
                        <td>Successfully</td>
                        <td><code>{ <br/>
					"status": 200,<br/>
					"user": {<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;"_id": "5efc8e8ea0358c106cd8c38d",<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;"username": "abc3",<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;"firstname": "abc",<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;"lastname": "efg",<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;"report":0,<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;"trading":0,<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;"heart":0,<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;"dob":'MM/dd/yyyy',<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;"gender":'unknown',<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;"email": "abc2@gmail.com",<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;"__v": 0<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;}<br/>
				}</code>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Result</th>
                        <td>Failed</td>
                        <td><code>{ <br/>
					&nbsp;&nbsp;&nbsp;&nbsp;"status" : 401,<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;"msg" : "Token is invalid" <br/>
				}
				</code></td>
                    </tr>
                    </tbody>
            </table>

            <!--Update-->
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">
                            <div class="alert alert-success" role="alert">#Cập nhật</div>
                        </th>
                        <td>Post</td>
                        <td><code>/api/user/update</pre></td>
			</tr>
			</thead>
			<tbody>
			<tr>
				<th scope="row">Header</th>
				<td>application/json; charset=utf-8</td>
				<td><code>"auth-token": "AAA.BBB.CCC"</code></td>
                    </tr>
                    <tr>
                        <th scope="row">Body</th>
                        <td>required</td>
                        <td>
                            <code>
						{<br/> 
							&nbsp;&nbsp;"id": "5efc8e8ea0358c106cd8c38d",<br/>
							&nbsp;&nbsp;"firstname":"abc",<br/>
							&nbsp;&nbsp;"lastname":"efg",<br/>
							&nbsp;&nbsp;"email":"abc2@cc.co",<br/>
							&nbsp;&nbsp;"dob":"01/15/2000"<br/>
						}
						</code>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Result</th>
                        <td>Successfully</td>
                        <td><code>{ <br/>
					"status": 200,<br/>
					"user": {<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;"_id": "5efc8e8ea0358c106cd8c38d",<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;"username": "abc3",<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;"firstname": "abc",<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;"lastname": "efg",<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;"email": "abc2@gmail.com",<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;"__v": 0<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;}<br/>
				}</code></td>
                    </tr>
                    <tr>
                        <th scope="row">Result</th>
                        <td>Failed</td>
                        <td><code>{ <br/>
					"status" : 401,<br/>
					"msg" : "Update failed" <br/>
				}
				</code></td>
                    </tr>
                    </tbody>
            </table>

            <!--Update Password-->
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">
                            <div class="alert alert-success" role="alert">#Cập nhật Password</div>
                        </th>
                        <td>Post</td>
                        <td><code>/api/user/password</pre></td>
			</tr>
			</thead>
			<tbody>
			<tr>
				<th scope="row">Header</th>
				<td>application/json; charset=utf-8</td>
				<td><code>"auth-token": "AAA.BBB.CCC"</code></td>
                    </tr>
                    <tr>
                        <th scope="row">Body</th>
                        <td>required</td>
                        <td>
                            <code>
						{<br/> 
							&nbsp;&nbsp;"password":"123123",<br/>
							&nbsp;&nbsp;"new_password":"abcxyz"<br/>
						}
						</code>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Result</th>
                        <td>Successfully</td>
                        <td><code>{ <br/>
					"status": 200,<br/>
					"msg": "Update success"<br/>
				}</code></td>
                    </tr>
                    <tr>
                        <th scope="row">Result</th>
                        <td>Failed</td>
                        <td><code>{ <br/>
					"status" : 401,<br/>
					"msg" : "Update failed" <br/>
				}
				</code></td>
                    </tr>
                    </tbody>
            </table>

            <!--Feed back-->
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">
                            <div class="alert alert-success" role="alert">#Phản hồi</div>
                        </th>
                        <td>Post</td>
                        <td><code>/api/user/feedback</pre></td>
			</tr>
			</thead>
			<tbody>
			<tr>
				<th scope="row">Header</th>
				<td>application/json; charset=utf-8</td>
				<td><code>"auth-token": "AAA.BBB.CCC"</code></td>
                    </tr>
                    <tr>
                        <th scope="row">Body</th>
                        <td>required</td>
                        <td>
                            <code>
						{<br/> 
							&nbsp;&nbsp;"title": "Feedback home",<br/>
							&nbsp;&nbsp;"feedback":"Ahahahaha"<br/>
						}
						</code>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Result</th>
                        <td>Successfully</td>
                        <td><code>{ <br/>
					"status": 200,<br/>
					"msg": "Feedback success"<br/>
				}</code></td>
                    </tr>
                    <tr>
                        <th scope="row">Result</th>
                        <td>Failed</td>
                        <td><code>{ <br/>
					"status" : 401,<br/>
					"msg" : "Feedback failed" <br/>
				}
				</code></td>
                    </tr>
                    </tbody>
            </table>

            <!--Messages-->
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">
                            <div class="alert alert-success" role="alert"># GET tin nhắn trong room</div>
                        </th>
                        <td>GET</td>
                        <td><code>/api/messages/:{userId}/:{page}</pre></td>
			  </tr>
			  </thead>
			  <tbody>
			  <tr>
			    <th scope="row">Header</th>
			    <td>application/json; charset=utf-8</td>
			    <td><code>"auth-token": "AAA.BBB.CCC"</code></td>
                    </tr>
                    <tr>
                        <th scope="row">Body</th>
                        <td>none</td>
                        <td> limit = 50
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Result</th>
                        <td>Successfully</td>
                        <td><code>{ <br/>
			      "status": 200,<br/>
			      "messages": [{<br/>
			        &nbsp;&nbsp;&nbsp;&nbsp;"_id": "5efc8e8ea0358c106cd8c38d",<br/>
			        &nbsp;&nbsp;&nbsp;&nbsp;"content": "abc3",<br/>
			        &nbsp;&nbsp;&nbsp;&nbsp;"created_at": "2020-08-31T07:38:43.951Z",<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;"room_id": "5f4ca9015475df0fc5835166",<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;"userId": "5f4b59302b71630a5b196954",<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;"sender": "5f4b59302b71630a5b196954",<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;"type_message": "5f4b59302b71630a5b196954",<br/>
			        &nbsp;&nbsp;&nbsp;&nbsp;"status": "SENDED",<br/>
			        &nbsp;&nbsp;&nbsp;&nbsp;"__v": 0<br/>
			        &nbsp;&nbsp;}, 
			        {<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;"_id": "5efc8e8ea0358c106cd8c38d",<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;"content": "abc3",<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;"created_at": "2020-08-31T07:38:43.951Z",<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;"room_id": "5f4ca9015475df0fc5835166",<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;"userId": "5f4b59302b71630a5b196954",<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;"sender": "5f4b59302b71630a5b196954",<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;"type_message": "5f4b59302b71630a5b196954",<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;"status": "SENDED",<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;"__v": 0<br/>
			          &nbsp;&nbsp;}]<br/>
			    }</code>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Result</th>
                        <td>Failed</td>
                        <td><code>{ <br/>
			      &nbsp;&nbsp;&nbsp;&nbsp;"status" : 401,<br/>
			      &nbsp;&nbsp;&nbsp;&nbsp;"msg" : "Token is invalid" <br/>
			    }
			    </code></td>
                    </tr>
                    </tbody>
            </table>

            <!--Login with Facebook token-->
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">
                            <div class="alert alert-success" role="alert">#Đăng nhập bằng FB token</div>
                        </th>
                        <td>Post</td>
                        <td><code>/api/auth/facebook</pre></td>
						</tr>
						</thead>
						<tbody>
						<tr>
							<th scope="row">Header</th>
							<td>application/json; charset=utf-8</td>
							<td></td>
						</tr>
						<tr>
							<th scope="row">Body</th>
							<td>required</td>
							<td>
								<code>
									{
										<br/> 
											"access_token" : "xxxx" <br />
									} <br />
									</code>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Result</th>
                        <td>Successfully</td>
                        <td><code>{ <br/>
								"status": 200,<br/>
								"user": {<br/>
									&nbsp;&nbsp;&nbsp;&nbsp;"token": "AAA.BBB.CCC",<br/>
									&nbsp;&nbsp;&nbsp;&nbsp;"_id": "5efc8e8ea0358c106cd8c38d",<br/>
									&nbsp;&nbsp;&nbsp;&nbsp;"username": "abc"<br/>
							}</code>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Result</th>
                        <td>Failed</td>
                        <td><code>{ <br/>
								&nbsp;&nbsp;&nbsp;&nbsp;"status" : 401,<br/>
								&nbsp;&nbsp;&nbsp;&nbsp;"msg" : "Token is invalid" <br/>
							}
							</code></td>
                    </tr>
                    </tbody>
            </table>
            <!--get link group or cfs-->
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">
                            <div class="alert alert-success" role="alert">#Group and confession</div>
                        </th>
                        <td>Get</td>
                        <td><code>/api/user/getlinkconfessionorgroupfb</pre></td>
			</tr>
			</thead>
			<tbody>
			<tr>
				<th scope="row">Header</th>
				<td>application/json; charset=utf-8</td>
				<td><code>"auth-token": "AAA.BBB.CCC"</code></td>
                    </tr>
                    <tr>
                        <th scope="row">Body</th>
                        <td>None</td>
                        <td>
                            <code>
						</code>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Result</th>
                        <td>Successfully</td>
                        <td><code>{ <br/>
                            &nbsp;&nbsp;&nbsp;&nbsp; "status": 200,<br/>
                            &nbsp;&nbsp;&nbsp;&nbsp; "links": [<br/>
                            &nbsp;&nbsp;&nbsp;&nbsp;{<br/>
                                &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;"description": "this is link group................",<br/>
                                &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;"_id": "5f74826c7690b13168498660",<br/>
                                &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;"name": "group",<br/>
                                &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;"link": "facebook.com/banhbaoapp",<br/>
                                &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;"__v": 0<br/>
                                &nbsp;&nbsp;&nbsp;&nbsp;},<br/>
                                &nbsp;&nbsp;&nbsp;&nbsp;{<br/>
                                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;"description": "this is link confession ......",<br/>
                                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; "_id": "5f74839c1e7be71d84e00590",<br/>
                                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; "name": "confession",<br/>
                                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; "link": "facebook.com/banhbaoapp/cfs",<br/>
                                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; "__v": 0<br/>
                                    &nbsp;&nbsp;&nbsp;&nbsp; }<br/>
                                    &nbsp;&nbsp;&nbsp;&nbsp; ]<br/>
                        }</code></td>
                    </tr>
                    <tr>
                        <th scope="row">Result</th>
                        <td>Failed</td>
                        <td><code>{ <br/>
                            &nbsp;&nbsp;&nbsp;&nbsp; "status": 404,<br/>
                            &nbsp;&nbsp;&nbsp;&nbsp; "msg": "Not Found"<br/>
				}
				</code></td>
                    </tr>
                    </tbody>
            </table>
            <!--reset Password-->
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">
                            <div class="alert alert-success" role="alert">#Reset Password</div>
                        </th>
                        <td>Post</td>
                        <td><code>/api/user/resetpassword</pre></td>
			</tr>
			</thead>
			<tbody>
			<tr>
				<th scope="row">Header</th>
				<td>application/json; charset=utf-8</td>
				<td><code></code></td>
                    </tr>
                    <tr>
                        <th scope="row">Body</th>
                        <td>required</td>
                        <td>
                            <code>
                                {<br/>
                                    &nbsp;&nbsp;&nbsp;&nbsp; "email" : "yentth237@gmail.com"<br/>
                               }<br/>
						</code>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Result</th>
                        <td>Successfully</td>
                        <td><code>{ <br/>
                            &nbsp;&nbsp;&nbsp;&nbsp;"status": 200,<br/>
                            &nbsp;&nbsp;&nbsp;&nbsp;"msg": "We sent code to your email"<br/>
				}</code></td>
                    </tr>
                    <tr>
                        <th scope="row">Result</th>
                        <td>Failed</td>
                        <td><code>{ <br/>
                            &nbsp;&nbsp;&nbsp;&nbsp;"status" : 401,<br/>
                            &nbsp;&nbsp;&nbsp;&nbsp;"msg" : "Sent code fail" <br/>
				}
				</code></td>
                    </tr>
                    </tbody>
            </table>
            <!--confirm-->
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">
                            <div class="alert alert-success" role="alert">#Confirm code</div>
                        </th>
                        <td>Post</td>
                        <td><code>/api/user/confirm</pre></td>
			</tr>
			</thead>
			<tbody>
			<tr>
				<th scope="row">Header</th>
				<td>application/json; charset=utf-8</td>
				<td><code></code></td>
                    </tr>
                    <tr>
                        <th scope="row">Body</th>
                        <td>Required</td>
                        <td>
                            <code>
                                {<br/>
                                    &nbsp;&nbsp;&nbsp;&nbsp; "email" : "yentth237@gmail.com"<br/>
                                    &nbsp;&nbsp;&nbsp;&nbsp; "code" : "HD45DS"<br/>
                               }<br/>
						</code>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Result</th>
                        <td>Successfully</td>
                        <td><code>{ <br/>
                            &nbsp;&nbsp;&nbsp;&nbsp; "status": 200,<br/>
                            &nbsp;&nbsp;&nbsp;&nbsp; "mess": "Confirm code",<br/>
                        }<br/></code></td>
                    </tr>
                    <tr>
                        <th scope="row">Result</th>
                        <td>Failed</td>
                        <td><code>{ <br/>
                            &nbsp;&nbsp;&nbsp;&nbsp;"status" : 401,<br/>
                            &nbsp;&nbsp;&nbsp;&nbsp;"msg" : "Sent code fail" <br/>
				}
				</code></td>
                    </tr>
                    </tbody>
            </table>
            <!--change Password-->
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">
                            <div class="alert alert-success" role="alert">#Change Password</div>
                        </th>
                        <td>Post</td>
                        <td><code>/api/user/changepassword</pre></td>
			</tr>
			</thead>
			<tbody>
			<tr>
				<th scope="row">Header</th>
				<td>application/json; charset=utf-8</td>
				<td><code></code></td>
                    </tr>
                    <tr>
                        <th scope="row">Body</th>
                        <td>required</td>
                        <td>
                            <code>
                                {<br/>
                                    &nbsp;&nbsp;&nbsp;&nbsp;"password" :"banhbaoapp",<br/>
                                    &nbsp;&nbsp;&nbsp;&nbsp;  "email" : "yentth7@gmail.com",<br/>
                                    &nbsp;&nbsp;&nbsp;&nbsp; "code": "W2Y3BT"<br/>
                                 }<br/>
						</code>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Result</th>
                        <td>Successfully</td>
                        <td><code>{<br/>
                            &nbsp;&nbsp;&nbsp;&nbsp; "status": 200,<br/>
                            &nbsp;&nbsp;&nbsp;&nbsp;"msg": "Changed password"<br/>
                        }<br/></code></td>
                    </tr>
                    <tr>
                        <th scope="row">Result</th>
                        <td>Failed</td>
                        <td><code>{ <br/>
                            &nbsp;&nbsp;&nbsp;&nbsp;"status" : 404,<br/>
                            &nbsp;&nbsp;&nbsp;&nbsp;"msg" : "Code or email not found" <br/>
				}
				</code></td>
                    </tr>
                    </tbody>
            </table>


            <hr>
            <!--Socket Chat-->
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">
                            <div class="alert alert-success" role="alert">#Socket</div>
                        </th>
                        <td>Socket.io</td>
                        <td><code>http://banhbaoapp.com</pre></td>
			  </tr>
			  </thead>
			  <tbody>
			  <tr>
			    <th scope="row">Header : Query?</th>
			    <td>application/json; charset=utf-8 </td>
			    <td><code>"token": "AAA.BBB.CCC"</code></td>
                    </tr>
                    <tr>
                        <th scope="row">emit</th>
                        <td>reconnection</td>
                        <td> {userId}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">ON</th>
                        <td>room-closed</td>
                        <td> {userId}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">emit</th>
                        <td>find-partner</td>
                        <td>
                        </td>
                    </tr>

                    <tr>
                        <th scope="row">ON</th>
                        <td>joined-to-room</td>
                        <td> {roomId,userId}
                        </td>
                    </tr>

                    <tr>
                        <th scope="row">emit</th>
                        <td>send-message</td>
                        <td> {content}
                        </td>
                    </tr>

                    <tr>
                        <th scope="row">ON</th>
                        <td>new-message</td>
                        <td> { userId, sender, type_message, content, room_id, status } <br/>
                            <strong>type_message</strong> [ system/ message/ send-heart/ send-report/]
                        </td>
                    </tr>

                    <tr>
                        <th scope="row">emit</th>
                        <td>leave-room</td>
                        <td>
                        </td>
                    </tr>

                    <tr>
                        <th scope="row">ON</th>
                        <td>partner-left</td>
                        <td> { roomId, userId }
                        </td>
                    </tr>

                    <tr>
                        <th scope="row">emit</th>
                        <td>send-heart</td>
                        <td>
                        </td>
                    </tr>

                    <tr>
                        <th scope="row">emit</th>
                        <td>send-report</td>
                        <td>{reason}
                        </td>
                    </tr>

                    <tr>
                        <th scope="row">ON</th>
                        <td>error</td>
                        <td> {data,msg,type} <br/>
                            <strong>type </strong> [send-report/ send-heart/ leave-room/ token/ find-partner/ send-message/]
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">On</th>
                        <td>blocking</td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">On</th>
                        <td>warning</td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">On</th>
                        <td>ban-user</td>
                        <td>
                        </td>
                    </tr>
                    </tbody>
            </table>

        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>