<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <script src="/socket.io/socket.io.js"></script>

    <title>Home - banhbaoapp.com</title>
    <script src="jquery351.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" />

    <style type="text/css">
        .text-hidden {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        
        .text-shown {
            word-wrap: break-word;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Banhbaoapp.com Project Internal - Chat cùng người lạ</h1>

        <div class="alert alert-danger col-md-12 text-center" id="notLoggedIn">Vui lòng đăng nhập!</div>

        <div class="alert alert-info text-hidden col-md-12" id="loggedIn"></div>

        <div class="d-flex justify-content-center row">
            <div class="col-md-6">
                <div class="panel panel-default" id="login">
                    <div class="panel-heading">
                        <h3 class="panel-title">Login</h3>
                    </div>
                    <div class="panel-body">
                        <form id="loginForm">
                            <div class="form-group">
                                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="username" required name="username" />
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="password" required name="password" />
                            </div>
                            <button type="submit" class="btn btn-default">Đăng nhập</button>
                        </form>
                    </div>
                </div>

                <div id="userInfo">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Infomation user</h3>
                        </div>
                        <div class="panel-body">
                            <div id="userInfoBody"></div>
                            <button type="button" class="btn btn-default" id="logoutButton">Đăng xuất</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6" id="responsePanel">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Test Chat with socket.io</h3>
                    </div>
                    <div class="panel-body">
                        <textarea id="areMsg" class="form-control" aria-label="With textarea" rows="3" disabled></textarea>
                    </div>
                    <div class="input-group mb-3">
                        <input id="intext" type="text" class="form-control" placeholder="Nhập..." aria-label="Recipient's username" aria-describedby="basic-addon2" />
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" id="click">Send</button>
                        </div>
                        <button class="btn btn-outline-secondary" id="findpartner">Tìm</button>
                        <button class="btn btn-outline-secondary" id="leave">Leave</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="loginErrorModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Login Failed</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <script src="https://code.jquery.com/jquery-2.2.2.js" integrity="sha256-4/zUCqiq0kqxhZIyp4G0Gk+AOtCJsY1TA00k5ClsZYE=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="style.js"></script>
    <script>
        const tk = localStorage.getItem('jwtToken');
        var socket = io('https://localhost/', {
            query: 'token=' + tk,
        });
        socket.on('all-message', function(data) {
            var msg = document.getElementById('areMsg').value;
            msg = msg + '\n' + data;
            document.getElementById('areMsg').value = msg;
        });

        $(document).ready(function() {
            let currentRoomId = '';
            $('#findpartner').click(function() {
                console.log('find-click');
                console.log('sap tim');
                socket.emit('find-partner', 'alalo');
                console.log('dang tim');
                socket.on('joined-to-room', function({
                    roomId
                }) {
                    $.ajax({
                        url: `https://localhost/api/messages/rooms/${roomId}`,
                        type: 'GET',
                        dataType: 'json',
                        headers: {
                            'auth-token': tk,
                        },
                        contentType: 'application/json; charset=utf-8',
                        success: function(result) {
                            console.log(`https://localhost/api/messages/rooms/${roomId}`, result);
                        },
                        error: function(error) {
                            console.log(error);
                        },
                    });
                    console.log('joined-to-room');

                    currentRoomId = roomId;

                    $('#click').click(function() {
                        // check ddax join vao room chua

                        const msg = {
                            currentRoomId,
                            content: document.getElementById('intext').value,
                        };
                        document.getElementById('intext').value = '';
                        if (msg.content.length > 0) socket.emit('send-message', msg);
                    });

                    $('#leave').click(function() {
                        console.log('currentRoomId', currentRoomId);
                        if (!currentRoomId) return;
                        console.log('currentRoomId', currentRoomId);
                        socket.emit('leave-room', currentRoomId);
                        currentRoomId = '';
                    });

                    socket.on('new-message', (message) => {
                        console.log('new message', message);
                    });

                    socket.on('partner-left', (roomId) => {
                        console.log('partner thoast roy', roomId);
                    });
                });
            });
        });
    </script>
</body>

</html>